.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3vh;
  margin-left: 1.5rem;
  margin-top: 10vh;
}

.card {
  background-color: black;
  box-shadow: inset 0 0 0 5px var(--color-nude);
  cursor: pointer;
  margin: 2rem 1.5rem 1.5rem 0;
  position: relative;
  transition: 0.5s;
  width: 35rem;
}

.card a {
  text-decoration: none;
}

.card a:hover {
  text-decoration: none;
  color: var(--color-nude);
}

.card-headline {
  color: var(--color-white);
  padding: 0.7rem;
  text-align: center;
}

.card-image {
  height: 20rem;
  object-fit: cover;
  padding: 0 0.5rem;
  width: 35rem;
}

.card-description {
  color: var(--color-nude);
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card::before,
.card::after {
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}

.card:hover::after,
.card:hover::before {
  transform: scale(1);
}

.animation::before {
  border-bottom: 5px solid var(--color-white);
  border-left: 5px solid var(--color-white);
  pointer-events: none;
  transform-origin: 0 100%;
}

.animation::after {
  border-right: 5px solid var(--color-white);
  border-top: 5px solid var(--color-white);
  pointer-events: none;
  transform-origin: 100% 0;
}
