.info-window {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family--primary);
  font-size: var(--font-size--default);
  gap: 1rem;
  margin-left: 0.8rem;
  width: 30rem;
}

.info-window__headline {
  color: var(--color-nude);
}

.info-window__image {
  height: 20rem;
  object-fit: cover;
  width: 30rem;
}

.info-window__explore {
  color: var(--color-nude);
  cursor: pointer;
  text-decoration: underline;
}

.info-window__explore:hover,
.info-window__explore:focus-visible {
  color: var(--color-black);
  font-style: italic;
  text-decoration: none;
}

.info-window__route {
  color: var(--color-grey);
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.info-window__route .icon {
  height: 2rem;
  margin-left: 1rem;
  width: 2rem;
}

// Google map overwrites
.gm-style-iw-chr button.gm-ui-hover-effect {
  margin-right: -1.2rem !important;
}
