.info-window {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family--primary);
  font-size: var(--font-size--default);
  gap: 1rem;
  margin-left: 0.8rem;
  width: 30rem;
}

.info-window__headline {
  color: var(--color-nude);
}

.info-window__image {
  height: 20rem;
  object-fit: cover;
  width: 30rem;
}

.info-window__route {
  align-items: center;
  color: var(--color-grey);
  display: flex;
  margin-top: 1.5rem;
}

.info-window__route .icon {
  height: 2rem;
  margin-left: 1rem;
  width: 2rem;
}
