#marker-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999999;
  color: black;
  font-family: "Arvo", serif;
  font-size: 20px;
  padding: 3%;
  text-align: center;
}

#marker-overlay h2 {
  color: white;
  margin: 0;
  font-family: "UnifrakturCook", cursive;
  font-size: 5vw;
  padding: 10px;
}

#marker-overlay img {
  height: 55vh;
  width: 90vw;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}

#marker-overlay img.extended {
  height: 100vh;
  width: 90vw;
  object-fit: cover;
  z-index: 666;
  transition: 0.5s;
}

#marker-overlay-content-container {
  background-color: rgba(187, 124, 102, 0.8);
}

#full-description {
  margin-top: 15px;
  padding: 1.5vw;
  margin-bottom: 15px;
}

#x {
  font-family: "UnifrakturCook", cursive;
  text-decoration: none;
  color: #bb7c66;
  cursor: pointer;
  font-size: 3vw;
  position: absolute;
  margin-left: 91%;
}

#x:hover {
  color: white;
}

#overlay-address {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
