.route__link-container {
  display: inline-block;
  height: 3rem;
  position: relative;
  text-decoration: none;
  width: 3rem;
}

.route__link-icon:hover,
.route__link-icon:focus-visible {
  color: var(--color-pink);
}
